html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#quiz {
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
    width: 800px;
    padding: 50px;
    border: 4px dashed #000000;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    line-height: 150%;
}

#question-wrapper {
}

.quiz-radio {
    display: none;
}

.quiz-label {    
    border: 1px dashed #000;
    padding: 5px 10%;
    margin: 10px 0;
    display: inline-block;
}

.quiz-label:hover {
    background-color: #E8E8E8;
}

.quiz-radio:checked + .quiz-label {
    background-color: #20aedb;
}

#next-button {
    border: 1px solid #000000;
    background-color: #ffffff;
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
    box-shadow: 3px 3px 4px #888888;
}

#next-button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

#next-button:focus {
    outline:0;
    }

.response {
    font-size: 20px;
}

.quiz-correct-answer {
    color: #6abd45;
}

.quiz-incorrect-answer {
    color: #f00f26
}
